# Python
__pycache__
*.pyc
*.pyo
.venv
venv
*.egg-info

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose*.yml
Dockerfile

# Frontend (cada um no seu contexto)
frontend/node_modules
frontend/dist
