asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==22.0.0
numpy==2.4.4
packaging==26.2
pandas==2.3.3
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
sqlparse==0.5.5
tzdata==2026.2
